<div class="container">
    <div class="row">
        <div class="col-sm-6 pl-5 pr-5">
            <h2>{{ company.name }}</h2>

            <h3>{{ company.loc }}</h3>

            <div>
                <h4>Histoire</h4>
                <p>{{ company.history }}</p>
            </div>

            <div>
                <h4>Activité</h4>
                <p>{{ company.activity }}</p>
            </div>

            <div>
                <h4>Contexte</h4>
                <p>{{ company.context }}</p>
            </div>
        </div>
        <div class="col-sm-6">
            <articles-list></articles-list>
        </div>
    </div>
</div>