<div class="container">
    <div class="row">
        <div *ngIf="article" class="col-12 pl-5 pr-5">

            <div class="d-flex justify-content-around">
                <a *ngIf="article[0].article_id > 1" [routerLink]="['/blog/', company_id, 'articles', article[0].article_id - 1]" routerLinkActive = "router-link-active">Article précédent</a>
                <a *ngIf="article[0].title != 'Bilan'" [routerLink]="['/blog/', company_id, 'articles', article[0].article_id + 1]" routerLinkActive = "router-link-active">Article suivant</a>
            </div>

            <h1 class="text-center">{{ article[0].title }}</h1>

            <span class="mb-3 font-italic">Publié le {{ article[0].date | date: 'dd-MM-yyyy' }}</span>

            <p [innerHTML]="article[0].intro"></p>

            <img class="rounded mx-auto d-block" *ngIf="article[0].img_loc" src="./app/assets/images/blog/{{ article[0].img_loc }}" alt="{{ article[0].title }}">

            <p *ngIf="article[0].problem" [innerHTML]="article[0].problem"></p>

            <p *ngIf="article[0].solution" [innerHTML]="article[0].solution"></p>

            <p *ngIf="article[0].mission" [innerHTML]="article[0].mission"></p>

            <p *ngIf="article[0].skill" [innerHTML]="article[0].skill"></p>

            <a *ngIf="article[0].actu" href="{{ article[0].actu }}" target="_blank">Actualité</a>

            <img class="rounded mx-auto d-block" *ngIf="article[0].img_stat" src="./app/assets/images/blog/{{ article[0].img_stat }}" alt="Stats">
        </div>
    </div>
</div>