<div class="container text-center">
    <div class="row">
        <div class="col-sm-6">
            <skills></skills>
            <certifications></certifications>
        </div>
        <div class="col-sm-6">
            <experiences></experiences>
        </div>
    </div>
    <div class="row">
        <div class="col-sm12">
            <schools></schools>
        </div>
    </div>
    <button class="btn draw-border mt-0 mb-2" [routerLink]="['/projets']" routerLinkActive="router-link-active">Mes Projets</button>
</div>
