<div *ngIf="project" class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>{{ project.title }}</h1>
            <h2>{{ convertDates(project.from_date) }} - {{ convertDates(project.to_date) }}</h2>

            <div>
                <h3>Introduction :</h3>
                <p [innerHTML]="project.intro"></p>
            </div>

            <div>
                <h3>Objectif :</h3>
                <p [innerHTML]="project.goal"></p>
            </div>

            <div>
                <h3>Expérience :</h3>
                <p [innerHTML]="project.experience"></p>
            </div>

            <div *ngIf="project.git">
                <a href="http://{{ project.git }}">Lien GitHub</a>
            </div>
        </div>

        <div class="col-sm-6" id="img-div">
            <img src="./app/assets/images/{{ project.img_loc }}" alt="{{ project.title }}">
        </div>
    </div>
</div>