<div class="container">
    <h1 class="text-center">Mes Projets</h1>

    <div class="d-sm-flex justify-content-center project-list">
        <div *ngFor="let project of projects" class="project text-center pagination-centered">
            <div class="div-img">
                <img src="./app/assets/images/{{ project.img_loc }}">
            </div>
            <h2><a [routerLink] = "['/projets/', project.project_id]" routerLinkActive = "router-link-active">{{ project.title }}</a></h2>
        </div>
    </div>
</div>

