.container {
    margin-top: 15vh;
}

.project-list {
    margin-top: 5vh;
}

.project {
    transition: ease 1s;
    max-height: 70vh;
}

.div-img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60vh;
    overflow: hidden;
}

.div-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

h2 {
    position: relative;
    top: -40vh;
    left: 25%;
    width: 50%;
    transition: ease 1s;
}

a:link, a:visited, a:hover {
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 420px) {
    .project:hover {
        transition: ease 1s;
        transform: scale(1.1);
        opacity: 0.3;
    }

    h2 {
        opacity: 0;
    }

    .project:hover h2 {
        transition: ease 1s;
        opacity: 1;
    }
}